@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');;

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter";
}

.container{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.content{
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
    width: 340px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 40px 50px ;

    border-radius: 20px;
}


a{
    display: list-item;
    padding: 10px 30px;
    background-color: hsl(0, 0%, 20%);
    position: relative;
    text-align: center;
    margin: 10px auto;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 1s;
    text-decoration: none;
    width: 300px;
    color: hsl(0, 0%, 100%);
}
ul{
    list-style-type: none;
    padding-left: 0;    
}
a:hover{
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
    color: hsl(0, 0%, 8%);
}


img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

h3{
    margin: -15px 0 10px 0;
}

@media(max-width: 500px) {
    .content{
        width: 200px;
    }
    a{
        width: auto;
    }
}